body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FFFAFA		;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#login-container {
  margin-top: 150px;
}

#centerize-text {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

#date {
  font-size: 12px;
}

#position {
  font-size: 14px;
}

#school {
  font-size: 14px;
}

#cv-preview {
  margin-top: 20px;
}

#cv-body {
  margin-left: 40px;
}

#section-title {
  font-size: 18px;
  padding-bottom: 5px;
}

#top-name {
  font-size: 30px;
}

#school {
  font-size: 16px;
}

#course {
  font-size: 14px;
}

#position {
  font-size: 16px;
}

#company {
  font-size: 16px;
}

#cv-description {
  font-size: 14px;
  font-style: italic;
}